<div class="container container-main">
    <div class="row">

        <!-- left navigation pane -->
        
        <div class = "col-md-3">
           
             <div class = "left-navigation-pane">
                 <% if session[:logged_in]%>
                  <%= image_tag('avatar.jpg', :size => '270x270', :alt => 'DEMO USER')%>
                  <div class = "profile-info-main">
                  
                  </div>
             <% end %>
                  <div class= "left-navigation-popular">
                    <h4>Popular</h4>
                    <hr class= "separator">
                  </div>
                 <div class = "left-navigation-hot-topics">
                    <h4>Hot Topics</h4>
                    <hr class= "separator">
                     <%= @debate_params.inspect%>
                 </div>
 
            </div>

        </div>

        <!-- main content area -->
 <div id = "main-content-container" class = "col-xs-8 col-md-6">
  <%= render(:partial => "post_temp" ) %>
<%= render(:partial => "post_right_temp") %>
 <%= render(:partial => "post_temp") %>
<%= render(:partial => "post_right_temp") %>
 <%= render(:partial => "post_temp") %>
<%= render(:partial => "post_right_temp") %>
    </div>
   <!-- right navigation pane -->

    <div class = "col-md-3">
        <div class = "right-navigation-pane">
        </div>
    </div>  

</div>
</div>